<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : New Review</title>
  <%- include ./partials/style_script %>
</head>
<body>
<%- include ./partials/navbar %>

<h3>New Review for <%=album.title%></h3>

<h3>New Review Form Goes Here</h3>
</body>
