<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : Sign Up</title>
  <%- include ./partials/style_script %>
</head>
<body>
  <%- include ./partials/navbar %>
    <form class="sign-in-form" action="/signin" method="POST">
      <h1>Sign In</h1>
      <br>
      <div class="form-group-row">
        <label for="email" class="col-2 col-form-label">Email</label>
        <input name="email" type="text"></input>
      </div>
      <div class="form-group-row">
        <label for="password" class="col-2 col-form-label">Password</label>
        <input name="password" type="password"></input>
      </div>
      <%if (message) { %>
        <div class="form-group-row">
          <p class="message sign-in-message">
            <%=message%>
          </p>
          <p>Not registered? Sign up <a href="/signup">here</a></p>
        </div>
      <% } %>
      <br>
      <div class="form-group-row">
        <button type="submit" class="sign-in-submit">Submit</button>
      </div>
    </form>
    <br>
    <br>
<%-include ./partials/footer %>
