<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= user.name %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <h1><%= user.name %></h1>

  <h2>Reviews</h2>

  <!-- TODO: implement album reviews -->

</body>
</html>
