<!DOCTYPE html>
<html>
<head>
  <title>Vinyl : <%= user.name %></title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <h1><%= user.name %></h1>

  <h2>Reviews</h2>

  <% if(reviews.length === 0) {%>
      <h3>No reviews yet!</h3>
  <% } else { %>

    <% reviews.forEach(function(review){ %>
      <span><h3 class="review-list"><a href="#reviews/<%=reviews.id%>"><%=review.title%></a></h3></span>
      <br>
    <% }) %>

  <% } %>
  <!-- TODO: implement album reviews -->

</body>
</html>
