html, body {
  margin-left: 15px;
  padding: 0;
  width: 100vw;
}

.navbar a{
  margin-left: 12px;
}

.message {
  color: red;
}

.sign-in-form{
  margin-left: 25%;
}

.sign-in-form h1{
  margin-left: 15%;
  font-size: 400%;
}

.sign-in-form .form-group-row{
  margin-left: 6%;
}

.sign-in-form .sign-in-message{
  margin-left: 18%;
}

.sign-in-submit{
  margin-left: 23%;
}

.sign-up-form{
  margin-left: 25%;
}

.sign-up-form h1{
  font-size: 400%;
}

.sign-up-form .form-group-row{
  margin-left: 6%;
}

.sign-up-form .sign-up-message{
  margin-left: 18%;
}

.sign-up-submit{
  margin-left: 23%;
}

.sign-in-link{
  margin-right: 60px;
}

.sign-out-link{
  margin-right: 60px;
}

.album-list{
  float: left;
}

.recent-reviews{
  float: right;
  margin-right: 10%;
}

.profile-info{
  float: right;
  margin-right: 5%;
}

#individual-album{
  padding-left:15%
}

.album-page-headings{
  text-align: left;
  display: inline-block;
}

.add-review-button{
  margin-left: 30%;
  display: inline-block;
}

.new-review-form {
  margin-left: 20%;
}

.new-review-form-title{
  text-align: center;
  margin-right: 35px;
}

.empty-review-message{
  text-align: center;
  margin-right: 35px;
}

.new-review-submit-button{
  margin-left: 57%;
}

.title-reviewed {
  display: inline-block;
}

.review-date {
  display: inline-block;
  font-size: 150%;
}

.review-author{
  margin-left: 200px;
}

#delete-review-button{
  display: inline-block;
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#delete-confirmation {
  display: none;
}

.modal-content{
  color: black;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
